[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "_vim/pack/john/start/ctrlp.vim"]
	path = _vim/pack/john/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "_vim/pack/john/start/vim-ags"]
	path = _vim/pack/john/start/vim-ags
	url = git@github.com:gabesoft/vim-ags.git
[submodule "_vim/pack/john/start/gundo.vim"]
	path = _vim/pack/john/start/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "_vim/pack/john/start/nerdtree"]
	path = _vim/pack/john/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "_vim/pack/john/start/vim-abolish"]
	path = _vim/pack/john/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "_vim/pack/john/start/vim-sensible"]
	path = _vim/pack/john/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "_vim/pack/john/start/vim-surround"]
	path = _vim/pack/john/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "_vim/pack/john/start/vim-vividchalk"]
	path = _vim/pack/john/start/vim-vividchalk
	url = git@github.com:tpope/vim-vividchalk.git
[submodule "_vim/pack/john/start/vim-tmux-navigator"]
	path = _vim/pack/john/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "_vim/pack/john/start/vim-emacs-bindings"]
	path = _vim/pack/john/start/vim-emacs-bindings
	url = git@github.com:maxbrunsfeld/vim-emacs-bindings.git
[submodule "_vim/pack/john/start/vim-pug"]
	path = _vim/pack/john/start/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "_vim/pack/john/start/vim-vue"]
	path = _vim/pack/john/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "_vim/pack/john/start/typescript-vim"]
	path = _vim/pack/john/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "_vim/pack/john/start/vim-go"]
	path = _vim/pack/john/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "_vim/pack/john/start/editorconfig-vim"]
	path = _vim/pack/john/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
