[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "zsh_custom/themes/agkozak-zsh-prompt"]
	path = zsh_custom/themes/agkozak-zsh-prompt
	url = git@github.com:agkozak/agkozak-zsh-prompt.git
[submodule "zsh_custom/plugins/zsh-vim-mode"]
	path = zsh_custom/plugins/zsh-vim-mode
	url = git@github.com:softmoth/zsh-vim-mode.git
