[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "_vim/pack/john/start/ctrlp.vim"]
	path = _vim/pack/john/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "_vim/pack/john/start/vim-ags"]
	path = _vim/pack/john/start/vim-ags
	url = git@github.com:gabesoft/vim-ags.git
[submodule "_vim/pack/john/start/gundo.vim"]
	path = _vim/pack/john/start/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "_vim/pack/john/start/nerdtree"]
	path = _vim/pack/john/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "_vim/pack/john/start/vim-abolish"]
	path = _vim/pack/john/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "_vim/pack/john/start/vim-sensible"]
	path = _vim/pack/john/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "_vim/pack/john/start/vim-surround"]
	path = _vim/pack/john/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "_vim/pack/john/start/vim-vividchalk"]
	path = _vim/pack/john/start/vim-vividchalk
	url = git@github.com:tpope/vim-vividchalk.git
[submodule "_vim/pack/john/start/vim-tmux-navigator"]
	path = _vim/pack/john/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "_vim/pack/john/start/vim-emacs-bindings"]
	path = _vim/pack/john/start/vim-emacs-bindings
	url = git@github.com:maxbrunsfeld/vim-emacs-bindings.git
[submodule "_vim/pack/john/start/vim-pug"]
	path = _vim/pack/john/start/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "_vim/pack/john/start/vim-vue"]
	path = _vim/pack/john/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "_vim/pack/john/start/typescript-vim"]
	path = _vim/pack/john/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "_vim/pack/john/start/vim-go"]
	path = _vim/pack/john/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "_vim/pack/john/start/editorconfig-vim"]
	path = _vim/pack/john/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "_vim/pack/john/start/undotree"]
	path = _vim/pack/john/start/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "_vim/pack/john/start/tender.vim"]
	path = _vim/pack/john/start/tender.vim
	url = git@github.com:jacoborus/tender.vim.git
[submodule "_vim/pack/john/start/gruvbox"]
	path = _vim/pack/john/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "_vim/pack/john/start/vim-startify"]
	path = _vim/pack/john/start/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "_vim/pack/john/start/molokai"]
	path = _vim/pack/john/start/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "_vim/pack/john/start/LeaderF"]
	path = _vim/pack/john/start/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule "_vim/pack/john/start/vim-workspace"]
	path = _vim/pack/john/start/vim-workspace
	url = git@github.com:thaerkh/vim-workspace.git
[submodule "_vim/pack/john/start/vim-indentguides"]
	path = _vim/pack/john/start/vim-indentguides
	url = git@github.com:thaerkh/vim-indentguides.git
[submodule "_vim/pack/john/start/vim-commentary"]
	path = _vim/pack/john/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "_vim/pack/john/start/vim-prettier"]
	path = _vim/pack/john/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "_vim/pack/john/start/vim-yaml"]
	path = _vim/pack/john/start/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "_vim/pack/john/start/iceberg.vim"]
	path = _vim/pack/john/start/iceberg.vim
	url = git@github.com:cocopon/iceberg.vim.git
[submodule "_vim/pack/john/start/badcat"]
	path = _vim/pack/john/start/badcat
	url = git@github.com:emanuelrosa/badcat.git
[submodule "_vim/pack/john/start/vim-one"]
	path = _vim/pack/john/start/vim-one
	url = git@github.com:rakr/vim-one.git
[submodule "_vim/pack/john/start/moonlight.vim"]
	path = _vim/pack/john/start/moonlight.vim
	url = git@github.com:lewis6991/moonlight.vim.git
[submodule "_vim/pack/john/start/jellybeans.vim"]
	path = _vim/pack/john/start/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "_vim/pack/john/start/vim-wombat-scheme"]
	path = _vim/pack/john/start/vim-wombat-scheme
	url = git@github.com:sheerun/vim-wombat-scheme.git
[submodule "_vim/pack/john/start/landscape.vim"]
	path = _vim/pack/john/start/landscape.vim
	url = git@github.com:itchyny/landscape.vim.git
[submodule "_vim/pack/john/start/lightline.vim"]
	path = _vim/pack/john/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "_vim/pack/john/start/vim-deus"]
	path = _vim/pack/john/start/vim-deus
	url = git@github.com:ajmwagar/vim-deus.git
[submodule "_vim/pack/john/start/vim-gitgutter"]
	path = _vim/pack/john/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "_vim/pack/john/start/vim-gitbranch"]
	path = _vim/pack/john/start/vim-gitbranch
	url = git@github.com:itchyny/vim-gitbranch.git
[submodule "_vim/pack/john/start/vim-easy-align"]
	path = _vim/pack/john/start/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "_vim/pack/john/start/rainbow"]
	path = _vim/pack/john/start/rainbow
	url = git@github.com:luochen1990/rainbow.git
[submodule "_vim/pack/john/start/vim-sneak"]
	path = _vim/pack/john/start/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "_vim/pack/john/start/vim-test"]
	path = _vim/pack/john/start/vim-test
	url = git@github.com:janko/vim-test.git
[submodule "_vim/pack/john/start/vimux"]
	path = _vim/pack/john/start/vimux
	url = git@github.com:benmills/vimux.git
[submodule "_vim/pack/john/start/sideways.vim"]
	path = _vim/pack/john/start/sideways.vim
	url = git@github.com:AndrewRadev/sideways.vim.git
[submodule "_vim/pack/john/start/dracula"]
	path = _vim/pack/john/start/dracula
	url = git@github.com:dracula/vim.git
[submodule "_vim/pack/john/start/onedark.vim"]
	path = _vim/pack/john/start/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "_vim/pack/john/start/yowish"]
	path = _vim/pack/john/start/yowish
	url = git@github.com:KabbAmine/yowish.vim
[submodule "_vim/pack/john/start/vim-stylus"]
	path = _vim/pack/john/start/vim-stylus
	url = git@github.com:iloginow/vim-stylus.git
[submodule "_vim/pack/john/start/grep"]
	path = _vim/pack/john/start/grep
	url = git@github.com:yegappan/grep.git
