*logs*
*.log
*~
_vim/ropevim/src*
_vim/ropevim/pylibs*
*.netrwhist
_vim/.netrwhist
_vim/plugged/
*.swp
*.pyc
history.sqlite
.idea/
.DS_Store
apps/build
.vscode/
node_modules
_ipython/profile_default/db/
local-startup/*
.undodir/
history.json
Session.vim
